/******************************************************************************************************************/
/* STYLES                                                                                                         */
/* Contents:                                                                                                      */
/*  - GENERAL TEMPLATE STYLES                                                                                     */
/*  - TYPED.js                                                                                                    */
/*  - HEADER                                                                                                      */
/*  - HERO AREA                                                                                                   */
/*  - ABOUT SECTION                                                                                               */
/*  - HIRE ME SECTION                                                                                             */
/*  - TIMELINE SECTION                                                                                          */
/*  - challs SECTION                                                                                                */
/*  - CONTACT FORM                                                                                                */
/*  - FOOTER                                                                                                      */

/******************************************************************************************************************/
/** GENERAL TEMPLATE STYLES                                                                                       */
/******************************************************************************************************************/

html {
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 76px;
    background: #fff;
}

.animation {
    opacity: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

a {
    transition: all 0.6s ease 0s;
    color: #1ab26c;
}

a:hover {
    color: #1ab26c;
}

h1 {
    font-size: 2.0rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #1ab26c;
}

h2 {
    padding-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.0rem;
}

h3 {
    padding-bottom: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2.4rem;
    }

}

q, p {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.no-js #preloader {
    display: none;
}

.js #preloader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.js #preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/squares.gif') center no-repeat #fff;
}

.btn {
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.btn-primary {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
    text-shadow: none;
}

a.btn-primary {
    padding: 10px 12px 12px 12px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #fff;
    color: #333;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    border-color: #fff;
}

.btn-secondary {
    background: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    border-radius: 0;
    text-shadow: none;
}

a.btn-secondary {
    padding: 10px 12px 12px 12px;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background: #fff;
    color: #333;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    border-color: #000;
}

a:focus {
    color: inherit;
}

section {
    padding: 2rem 0;
    text-align: center;
    background: #fff;
}

section li {
    text-align: left;
}
.section-header {
    padding: 2rem 0;
}

.section-footer {
    padding-top: 4rem;
    font-style: italic;
    font-size: 1.5rem;
    color: #c0c0c0;
}

/******************************************************************************************************************/
/** TYPED.js                                                                                                      */
/******************************************************************************************************************/

.typed-wrap {
    margin-top: 2rem;
}

.typed {
    font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .typed {
        font-size: 1.3rem;
    }
}


.typed-cursor {
    opacity: 1;
    font-size: 1.5rem;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/******************************************************************************************************************/
/** HEADER                                                                                                        */
/******************************************************************************************************************/

.navbar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav a.nav-link {
    font-weight: 500;
    letter-spacing: 0.6px;
}

@media only screen and (min-width: 992px) {
    header {
        margin-bottom: -76px;
    }

    .navbar {
        background-color: rgba(255, 255, 255, 0);
        padding-bottom: 20px;
    }

    .header-overlay {
        background-color: #000 !important;
        transition: all 0.6s ease 0s;
    }

    .navbar-brand img {
        padding-top: 12px;
    }

}

@media only screen and (max-width: 991px) {
    .navbar {
        min-height: 76px;
        text-align: center;
        background-color: #000;
        padding-top: 16px;
    }

    .navbar-nav > li > a {
        color: #fff !important;
    }

    .navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
        color: #1ab26c !important;
    }

}

nav ul li {
    text-transform: uppercase;
}

.navbar-brand {
    min-width: 275px;
}

@media only screen and (min-width: 992px) {

    .navbar-nav {
        margin-bottom: -8px;
        margin-top: 8px;
    }

    .navbar-nav > li > a {
        padding-right: 0;
        padding-left: 0;
        margin-right: 12px;
        margin-left: 12px;
        border-top: 3px solid rgba(255, 255, 255, 0);
        color: #fff !important;
    }

    .navbar-nav > li:last-child > a {
        margin-right: 0;
    }

    .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
        border-top: 3px solid #1ab26c;
    }

    .navbar-nav > li > a:hover {
        border-top: 3px solid #1ab26c;
    }

    .navbar-nav > li > a.active:hover {
        border-top: 3px solid #1ab26c;
    }
}

/******************************************************************************************************************/
/** HERO AREA                                                                                                     */
/******************************************************************************************************************/

.jumbotron {
    /**background: url(../img/bg1.png) repeat-y;**/
    background-size: cover;
    background-color: #000;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
    text-shadow: 0px 1px 2px #53535f;
    border-radius: 0;
    border-bottom: 2px solid #333;
    height: 100vh;
    width: 100%;
    margin: 0;
    letter-spacing: 0.7px;
    margin-top: -76px;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .jumbotron {
    height: 900px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .jumbotron {
    height: 768px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .jumbotron {
    height: 500px;
  }
}

.jumbotron .container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-height: 200px;
}


#particles-js {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    margin-top: 0;
}

#effect-js {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    margin-top: 0;
}

#bg-video-wrap {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#bg-video {
    height: 100vh;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    opacity: 1;
    background-color: #000;
    margin-top: 0;
}

.jumbotron .type-it {
    font-size: 1.5rem;
}

@-webkit-keyframes down-bounce {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
    70% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

@keyframes down-bounce {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
    70% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

.down-bounce {
    -webkit-animation: down-bounce 4s infinite;
    animation: down-bounce 4s infinite;
}

.arrow-wrap {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}

.arrow {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 1.6rem;
    display: block;
    bottom: 10px;
    text-align: center;
}

.arrow:hover {
    text-decoration: none;
    color: #fff;
}

.my-4 {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/******************************************************************************************************************/
/** ABOUT SECTION                                                                                                 */
/******************************************************************************************************************/

#about .photo {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
#about h2 {
    color: #1ab26c;
}

#about p {
    text-align: left;
    color: #666;
    letter-spacing: 0.5px;
}

#about h4 {
    padding-top: 2rem;
}

.photo-wrap {
    position: relative;
    width: 100%;
}

.photo-text .fa, .photo-text .fa:visited, .photo-text .fa:active, .photo-text .fa:focus {
    color: #fff;
    margin: auto 5px;
	width: 2rem;
	font-size: 2rem;
}

.photo-text .fa:hover {
    color: #1ab26c;
}

.photo-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.photo-wrap:hover .photo-overlay {
    width: 100%;
}

.photo-text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/******************************************************************************************************************/
/** Events SECTION                                                                                              */
/******************************************************************************************************************/

#events {
    text-align: center;
    color: #333;
    background: #f4f4f4;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

#events h2 {
    color: #333;
}

#events i {
    font-size: 1.4rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#events .circle {
    background-color: #333;
    border-radius: 100px;
    padding: 6px;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 6px auto;
}

#events .box {
    background: #333;
    border-bottom: 5px solid #666;
    padding: 10px;
    margin-bottom: 30px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

#events .box:hover {
    background: #333;
    border-bottom: 5px solid #e1e1e1;
}

#events .box:hover .circle {
    background-color: #fff;
}

#events .box:hover i {
    color: #333;
}

#events .box h3, #events .box p,  #events .box a {
    color: #fff;
}

#events .box a:link, #events .box a:visited {
    text-decoration: none;
  }
  
#events .box a:hover, #events .box a:active {
    text-decoration: none;
    color: #fff;
  }


#events h3 {
    margin-top: 21px;
}

/******************************************************************************************************************/
/** HIRE ME SECTION                                                                                               */
/******************************************************************************************************************/

#hireme {
    background: url(../img/hireme-bg.jpg) repeat-y;
    background-size: cover;
    background-color: #000;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 0;
    padding-top: 2rem;
    margin-top: 0;
    color: #fff;
    width: 100%;
}

#hireme h4 {
	margin-top: 4rem;
}

#hireme .btn {
	margin-top: 4rem;
}

/******************************************************************************************************************/
/** timeline SECTION                                                                                            */
/******************************************************************************************************************/

#timeline {

    background: #333;
    padding-bottom: 2rem;
    margin-bottom: 0;
}


#timeline .container {
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    background: #333;
}

#timeline .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
 
    z-index: 1
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.timeline-content {
    direction: ltr;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #1ab26c;
    margin-top: 10px;
    z-index: 999;
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #fff
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
}

.timeline-content span {
    font-size: 20px;
    color: #979595;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #fff;
}


@media screen and (max-width: 768px) {
    #timeline .container:before {
        left: 8px;
        width: 2px;
    }
    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}

/******************************************************************************************************************/
/** challs SECTION                                                                                                  */
/******************************************************************************************************************/
#challs {
    padding-bottom: 2rem;
}

#challs .item {
    text-align: left;
	padding-bottom: 2rem;
}

#challs h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

/******************************************************************************************************************/
/** CONTACT FORM                                                                                                  */
/******************************************************************************************************************/

#contact {
    background: #111;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2rem;
}

#contact .container {
    margin: 2rem auto;
}

#contact-form {
    position: relative;
}

#contact button {
    margin-top: 1rem;
}

#ajaxLoad {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/squares.gif) center no-repeat;
}

#contact p {
    color: #fff;
    letter-spacing: 0.5px;
}

#contact .contact-form {
    padding: 0 0 30px 0;
}

#contact .section-header {
    padding-bottom: 0;
}

#contact .form-control::-webkit-input-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .form-control:-moz-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .form-control::-moz-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .form-control:-ms-input-placeholder {
    color: #c0c0c0;
    font-weight: 200;
}

#contact .section-header p {
    color: #f0f0f0;
    letter-spacing: 0.5px;
}

#contact input, #contact textarea {
    margin: 26px 0;
    border-radius: 0;
}
#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
	border: 2px solid #333;
    border-bottom: 2px solid #bbb;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

#contact input:focus, #contact textarea:focus {
    border: 2px solid #fff;
}

#contact textarea {
    height: 184px;
}

#venue {
    color: #333;
    background: #f4f4f4;
    margin: 0;
    padding: 2rem 0;
}

#venue .withMap {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#venue .withMap p {
    text-align: left;
    color: #666;
    letter-spacing: 0.5px;
}

#venue .withMap div {
    font-size: 1.1rem;
    text-align: left;
    color: #555;
    letter-spacing: 0.5px;
}

#venue .withMap .fa {
    padding-right: 10px;
    color: #000;
    font-size: 1.2rem;
}

#googleMap {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
    #roundroom {
        margin-top: 2rem;
    }
}

#roundroom {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
    #googleMap {
        margin-top: 2rem;
    }
}

/******************************************************************************************************************/
/** FOOTER                                                                                                        */
/******************************************************************************************************************/

@media only screen and (max-width: 768px) {
    .footer .col-12 p {
        text-align: center;
    }

    .footer .col-12 .pull-right {
        text-align: center;
        float: none !important;
    }
}

.footer {
    color: #fff;
    background: #111;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer .fa, .footer .fa:visited, .footer .fa:active, .footer .fa:focus {
    color: #fff;
    margin: auto 5px;
}

.footer .fa:hover {
    color: #fffc00;
}
